.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-logo {
    width: 160px;
  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}


.spaces-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  position: relative;
  top: 100px;
}

.spaces-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

.space-card{
  width: 300px;
  margin: 0.75rem;
  text-align: start;
}

article.space-card-info{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.space-card-info h2, .space-card-info h3{
  color: white;
  font-size: 0.9rem;
}


.space-card-info h3{
  font-weight: 400;
  opacity: 65%;
}

span.space-timeframe{
  font-weight: 300;
  opacity: 65%;
}

h2#star-rating{
  font-size: 0.9rem;
  color: #61dafb;
}

#filter-search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 12px;
  border-radius: 12px;
  display: flex;
    position: sticky;
    top: 50px;
    z-index: 1;
    margin-top: 20px;
}

#dropdown{
  display: inline-flex;
  align-content: center;
}

#filter-icon{
  height: 16px;
  margin: 4px 10px 5px 5px;
}

#search-bar{
  min-width: fit-content;
  width: 300px;
}

.vertical-seperator {
  border-left: 3px dotted #acb4c3;
  height: 25px;
  margin: 0px 15px;
}

div#listing-container{
  display: flex;
  justify-content: center;
}

form#listing-form{
  display: grid;
  width: 50%;
  max-width: 700px;
  min-width: 500px;
  background-color: #222529;
  color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: start;
  margin: 100px;
}

#listing-form input, #listing-form textarea{
  margin: 0 auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  transition: 500ms;
}

#listing-form input{
  width: 100%;
}

#listing-form textarea{
  width: 100%;
}

input:focus,textarea:focus {
  background-color: #d6d9df;
  transition: 500ms;
}


form#listing-form Button{
  justify-self: center;
  margin-top: 20px;
  width: 50%;
}

div.errors-container{
  margin-top: 10px;
  justify-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

span#error-message{
  width: 100%;
  padding: 5px 20px;
  margin: 3px;
  color: red;
  background-color: rgba(255, 0, 0, 0.10);
  border-radius: 5px;
}

div#space-container{
  display: flexbox;
    gap: 5px;
    margin: 1rem;
    flex-wrap: wrap;
}

div#images-container{
  display: flex;
  gap: 5px;
  justify-content: center;
  margin: 1rem;
}

.featured-image img{
  width: 100%; 
  max-width: 40rem;
  border-radius: 10px 0px 0px 10px;
}

div.supporting-images{
  display: grid;
  gap: 5px;
}

div.supporting-images .blank-image{
  background-color: #474d59;
  width: 150px;
  height: auto;
}

.blank-image:first-child{
  border-top-right-radius: 10px;
  opacity: 80%;
}

.blank-image:last-child{
  border-bottom-right-radius: 10px;
  opacity: 60%;
}

div#information-container{
  color: white;
  gap: 5px;
  display: flexbox;
  justify-content: center;
  width: 100%;
  max-width: 50rem;
  margin: auto;
}

#tab-container{
}

#list-group{
margin: 2rem auto;
width: fit-content;
}

#list-content{
  margin: 1rem;
  text-align: left;
}


