.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-logo {
    width: 160px;
  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#current-user-name p {
  opacity: 50%;
}

.spaces-page{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  position: relative;
  top: 100px;
}

.spaces-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

.space-card{
  width: 300px;
  margin: 0.75rem;
  text-align: start;
}

article.space-card-info{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.space-card-info h2, .space-card-info h3{
  color: white;
  font-size: 0.9rem;
}


.space-card-info h3{
  font-weight: 400;
  opacity: 65%;
}

span.space-timeframe{
  font-weight: 300;
  opacity: 65%;
}

h2#star-rating{
  font-size: 0.9rem;
  color: #61dafb;
}

#filter-search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 12px;
  border-radius: 12px;
  display: flex;
    position: sticky;
    top: 50px;
    z-index: 1;
    margin-top: 20px;
}

#dropdown{
  display: inline-flex;
  align-content: center;
}

#filter-icon{
  height: 18px;
  padding: 2px;
}

#search-bar{
  min-width: fit-content;
  width: 300px;
}

#keyword{
  color: green;
}

.vertical-seperator {
  border-left: 3px dotted #acb4c3;
  height: 25px;
  margin: 0px 15px;
}

div#listing-container{
  display: flex;
  justify-content: center;
}

Form#listing-form{
  background-color: #222529;
  color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: start;
  width: 60%;
  margin-top: 100px;
}
