.App {
  text-align: center;
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-logo {
    width: 160px;
  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#current-user-name p {
  opacity: 50%;
}

.spaces-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.space-card{
  width: 300px;
  margin: 0.75rem;
  text-align: start;
}

article.space-card-info{
  padding-top: 10px;
}

.space-card-info h2, .space-card-info h3{
  color: white;
  font-size: 0.9rem;
}


.space-card-info h3{
  font-weight: 400;
  opacity: 65%;
}

span.space-timeframe{
  font-weight: 300;
  opacity: 65%;
}
